INFISICAL_CLIENT_ID=
INFISICAL_CLIENT_SECRET=
INFISICAL_PROJECT_ID=
INFISICAL_ENVIRONMENT=
FLY_API_TOKEN= # required for remote development
FLY_APP_NAME= # required for remote development
LOCAL_CONTAINER_PORT= # optional for local development
